body{
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.card{
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.4s ease-in-out, background-color 0.5s ease;
}

.card:hover{
    transform: scale(1.05);
    background-color: #fde3f9;
}

.avatar{
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 5s linear 1s infinite;
}

.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@keyframes spin {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.name{
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease 0.2s;
}

.card:hover{
    color: #e221f3;
}